table.mylinks a { color: #003399; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
table.mylinks a:link, table.links a:visited { color: #003366; }
table.mylinks a:hover { color: #CC9900; }
